/* Created by Derek Nichols on December 26, 2021. Last editied on May 26, 2023. */
/* Style sheet to be used on each individual page */

:root {
  --navBar_height: 80px;

  --GT_blue: #003057;
	--GT_gold: #B3A369;
	--GT_grey: #D6DBD4;

  --grey1: #d9d9d9;
  --grey2: #eee;

  --green: #797;
  --green_dark: #425742;
  --green_light: #d3ded3;
  /* Light and dark versions cound on https://www.w3schools.com/colors/colors_picker.asp*/

  --blue: #8ac;
  --blue_dark: #246;

/*
  --background_color: var(--grey1);
  --color_main: var(--GT_gold);
  --color_secondary: var(--GT_blue);
*/

  --background_color: var(--grey2);
  --color_main: var(--green);
  --color_secondary: var(--green_dark);

}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /*font-weight: 600;*/
  color: black;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--navBar_height);
  background: var(--color_main);
  color: white;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (max-width: 799px) {
  main {
    padding: 100px 7.5%;
    /* padding: 100px 100px; */
    /* display: flex; */
    flex-direction: column;
    height: 100%;
  }
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 800px) {
  main {
    padding: 100px 10%;
    /* padding: 100px 100px; */
    /* display: flex; */
    flex-direction: column;
    height: 100%;
  }
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

main > div {
  margin: auto;
}

main p {
  /* line-height: 1.5; */
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 100;
}
#nav-container .bg {
  position: absolute;
  top: var(--navBar_height);
  left: 0;
  width: 100%;
  height: calc(100% - var(--navBar_height));
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
  z-index: 100;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: var(--navBar_height);
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.home {
  cursor: pointer;
  pointer-events: auto;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: var(--navBar_height);
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - var(--navBar_height));
  background: white;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: var(--color_main);
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: var(--color_secondary);;
}
.small a + a {
  margin-left: 25px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 10;
}

html, body {
  height: 100%;
  background-color: var(--background_color);
}

html {
  overflow-y: scroll;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: underline;
  outline: 0;
}

a.menu {
  text-decoration: none;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

hr.title {
  border: 1px solid var(--color_main);
}

hr.section {
  border: 1px solid #949494;
}

img.headshot {
  vertical-align: middle;
  height: auto;
	max-width:100%;
}

img.other {
  vertical-align: middle;
  height: auto;
	max-width:100%;
}

video.other {
  vertical-align: middle;
  height: auto;
	max-width:100%;
}

iframe {
  position: relative;
  z-index: 1;
}

.video-full iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
}

@media (max-width: 1599px) {
  main {
    padding: 100px 7.5%;
    /* padding: 100px 100px; */
    /* display: flex; */
    flex-direction: column;
    height: 100%;
  }
  .video-full {
    display: block;
  }
  .video-max {
    display: none;
  }
}

@media (min-width: 1600px) {
  main {
    padding: 100px 10%;
    /* padding: 100px 100px; */
    /* display: flex; */
    flex-direction: column;
    height: 100%;
  }
  .video-full {
    display: none;
  }
  .video-max {
    display: block;
  }
}

#contact_link p a:hover {
  color: var(--color_main);
}

a.anchor {
    display: block;
    position: relative;
    top: calc(-1 * var(--navBar_height));
    visibility: hidden;
}


/* Changing font characteristics */

main p.sectionTitle {
  font-size: 1.75em;
  font-weight: bold;
  color: var(--color_secondary);
}

main p.subsectionTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color_secondary);
}

main p.subsubsectionTitle {
  font-size: 1.12em;
  font-weight: bold;
}

@media (max-width: 799px) {
  main p.body {
    font-size: 1em;
    text-align: justify;
  }
}

@media (min-width: 800px) {
  main p.body {
    font-size: 1.12em;
    text-align: justify;
  }
}
